*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    position: relative;
}

.blur{
    backdrop-filter: blur(4px);
    height: 100vh;
	width: 100%;
}

.bar{
    width: 100%;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    position: fixed;
}

.navbar{
    position: fixed;
}

.logo_nav{
    position: fixed;
    float: left;
    margin: 10px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background-color: rgb(23,121,44);
    overflow: hidden;
    padding: 0;
    text-align: left;
}

nav ul li{
    display: inline-block;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 20%;
    text-align: center;
}

.membership{
    height: 50px;
    background-color: rgb(255,214,0);
    padding: 0;
    margin: 0;
    overflow: auto;
}

.askmember{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 27px;
    float: left;
    margin-top: 8px;
    margin-left: 35%;
}

.boutMem{

    border-radius: 20px;
    background-color: rgb(206,173,0);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 22px;
    border: 0;
    cursor: pointer;
    padding: 0.2em 1.4em;
    float: left;
    margin-top: 7px;
}

.lefttext{
    text-align: center;
    width: 50%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

.righttext{
    text-align: center;
    width: 40%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

.footer{
    height: 130px;
    background-color: #6C6C6C;
    padding: 0;
    margin: 0;
    overflow: auto;
}


.aboutus_titre{
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 50px;
    top: 50px;
}

.gauche{
    text-align: center;
    width: 50%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 20px;
    margin-top: 80px;
}

.milieu{
    text-align: center;
    width: 50%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 20px;
    margin-top: 80px;
}

.maps{
    text-align: center;
    margin-top: 40  20px;
}

.photos{
    min-height: 85vh;
    width: 100%;
    background-color: grey;
    background-position: center;
    background-size: cover;
    position: relative;
}

.photos_titre{
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 27px;
    top: 10px;
}

.row{
    display: flex;
}

.images{
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

.test{
    padding-left: 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 20px;
}
