*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/Saith_Seren_front.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.blur{
    backdrop-filter: blur(4px);
    height: 100vh;
	width: 100%;
}

.bar{
    width: 100%;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    position: fixed;
}

.navbar{
    position: fixed;
}

.logo_nav{
    position: fixed;
    float: left;
    margin: 10px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background-color: rgb(23,121,44);
    overflow: hidden;
    padding: 0;
    text-align: left;
}

nav ul li{
    display: inline-block;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 20%;
    text-align: center;
}


.welcome{
    text-align: center;
    position: relative;
    top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    letter-spacing: 1px;
}

.imglogowelcome{
    display: flex;
    justify-content: center;
    margin-top: 100px;
 
    
}



.aboutus{
    height: 200px;
    background-color: rgb(195,22,22);
    padding: 0;
    margin: 0;
    overflow: auto;
}

.aboutus_titre{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 27px;
    margin-top: 6px;
}

.gauche{
    text-align: center;
    width: 33%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

.milieu{
    text-align: center;
    width: 33%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}



.offres{
    height: 350px;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.proposals{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 27px;
    margin-top: 6px;
}


.images{
    float: left;
    width: 33%;
    padding-left: 50px;
    margin-top: 15px;
}

.row{
    display: flex;
}


.test{
    padding-left: 37%;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 20px;
}



.membership{
    height: 50px;
    background-color: rgb(255,214,0);
    padding: 0;
    margin: 0;
    overflow: auto;
}

.askmember{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 27px;
    float: left;
    margin-top: 8px;
    margin-left: 35%;
}

.boutMem{

    border-radius: 20px;
    background-color: rgb(206,173,0);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 22px;
    border: 0;
    cursor: pointer;
    padding: 0.2em 1.4em;
    float: left;
    margin-top: 7px;
}


.lefttext{
    text-align: center;
    width: 50%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

.righttext{
    text-align: center;
    width: 40%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin-top: 8px;
}

.footer{
    height: 130px;
    background-color: #6C6C6C;
    padding: 0;
    margin: 0;
    overflow: auto;
}